<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="robots" content="noarchive, noindex">
        <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
        <link rel="stylesheet" href="/css/style.css">
        <title>
            {% if title %}
                {{ title }}
            {% endif %}
        </title>
        {% endblock %}
    </head>
    <body>
        <main>
            <div id="content">
                <div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
